
header h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

header h2 {
    text-align: center;
    margin-bottom: 1rem;
    color:white;                    
    text-shadow: 1px 1px 2px black;
}

body
{ background-image: url("images/PixelForge-transparent.png");
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    background-attachment: fixed;
    background-color: #070f17;
}

image
{
  width: "460" ;
  height: "345";
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    justify-content: center; 
    gap: 1rem;               
    margin-bottom: 7rem;
}


.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
    border-bottom: 7px solid #4c8bf5;
    padding-bottom: 0.5rem; 
}


.nav-links li a.current {
    background-color: #4c8bf5;
    color: white;
}


.nav-links li a:hover {
    background-color: #333;
    color: white;
}


@media screen and (max-width: 600px) {
    .nav-links {
        flex-direction: column;  
        gap: 0.5rem;
    }
}

p
{
  font-family: Arial, sans-serif;  
    color:white;                    
    text-shadow: 1px 1px 2px black;
    font-size: 150%;  
    margin-bottom: 3rem;
}
li
{
    font-family: Arial, sans-serif;  
    color: white;                    
    text-shadow: 1px 1px 2px black;
    font-size: 150%;  
    margin-bottom: 3rem;
}

table {
    width: 80%;               
    margin: 2rem auto;         
    border-collapse: collapse;
    border: 3px solid #4c8bf5;
    border-radius: 8px;
    overflow: hidden;
    color: white;
}


table th, .game-table td {
    padding: 0.75rem;
    border-bottom: 1px solid #4c8bf5;
}


table tbody tr:nth-child(even) { background-color: #111; }
table tbody tr:nth-child(odd) { background-color: #1a1a27; }


table tbody tr:hover {
    background-color: #4c8bf5;
    color: white;
    transition: 0.2s;
}

table td {
    padding: 0.75rem;
    border-bottom: 1px solid #4c8bf5;   
    border-right: 2px solid #4c8bf5;


}
