body {
    background-image: url("screenimage/nighttime.jpg");
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    background-attachment: fixed;    
    margin: 0;                      
    padding: 0;                      
    font-family: Arial, sans-serif;  
    color: #ffcaf9;                    
    text-shadow: 1px 1px 2px #aa5aa1;
}